body {
    color: darkblue;
    font-family: Arial, Helvetica, sans-serif;
}
main {
    max-width: 1200px;
    margin: 0 auto;
}
.container {
    max-width: 1200px;
    /* padding: 0px 30px 0px 30px; */
    background-image: url("../imgs/header-bg-2.jpg");
    object-fit: cover;
    box-shadow: -9px 10px 15px -4px rgba(0,0,0,0.37);
    
}
.container-grid {
    height: 300px;
    display: grid;
    grid-template-columns: 700px 500px;
    grid-template-rows: 50px 200px 50px;
    align-items: center;
    justify-content: center;
}
.titulo {
    font-size: 50px;
    font-weight: bold;
    font-style: italic;
    color: #fff;
    text-shadow: 2px 4px 8px rgba(0, 0, 0, 0.78);
    grid-column: 1 / 2;
    grid-row: 2 / 3;
    justify-self: end;
}
.logo {
    height: 200px;
    width: 200px;
    box-shadow: -9px 10px 15px -4px rgba(0,0,0,0.37);
    grid-column: 2 / 3;
    grid-row: 2 / 3;
    justify-self: center;
}
#tagline {
    font-weight: 300;
    font-size: 40px;
    color: #ffd900;
}
.contenido {
    padding: 30px;
}
.contenido p {
    text-align:justify;
    font-size: 16px;
    line-height: 1.5em;
}

/*FOOTER*/

.footer {
    height: 80px;
    width: 1200px;
    color: #fff;
    background-color: rgb(20, 41, 61);
    position: absolute;
    bottom: 0;
    padding: 20px 0 0 0;
}
.copyright {
    text-align: center;
    align-content: center;
    justify-content: center;
}